@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat:ital@1&family=Poppins:wght@300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body {
  /* background-color: orangered; */
  /* background: linear-gradient(45deg, rgba(8, 8, 214, 0.774),rgba(0, 0, 255, 0.432),rgba(3, 3, 247, 0.274)) ; */
  font-size: 1rem;
  background: linear-gradient(to right, #00a2ff, #4406f0);
}
.div-header {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px !important;
}
/* header {
  border-radius: 10px;
  background: linear-gradient(to left, #ee4503, #35f106, #0728e2) !important;
} */
aside {
  width: 100%;
  /*min-height: 50px;*/
  text-align: center;
  font-size: 1.2em;
  padding: 10px 0px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 0.5px dashed whitesmoke;
}

#nbre {
  padding: 5px 10px;
  margin: 10px;
  border: none;
  width: 100px;
  border-bottom: 1px black solid;
}
#nbre:active {
  border-color: whitesmoke;
}
h3 {
  /* margin:0 2px ; */
  /* margin-bottom: 30px; */
  color: rgba(17, 17, 16, 0.918);
  text-transform: uppercase;
}
header,
section {
  margin: auto;
  /*background-color: rgba(98, 233, 238, 0.123);*/
  background-color: whitesmoke;
  width: 400px;
  margin-bottom: 40px;
  text-align: center;
  /* padding: 10px; */
  border-radius: 10px;
  border: 0.2px solid black;
}
#solution {
  min-height: 80px;
  padding-top: 20px;
  font-size: 1.5rem;
}
#solution h5 {
  padding-bottom: 20px;
}

#inputs  input {
  height: 100%;
  padding-right: 10px;
  font-size: 1.1em;
  animation: ani-inputs 1s ease-in-out both;
  width: 80%;
  margin: 10px 0px;
  padding: 5px 10px;
  border: 0.5px solid rgb(238, 228, 228);
  background-color: white;
  border-radius: 10px;
  border: 0.3px solid black;
}
#inputs input:focus {
  border-color: #0c0c0c;
}

#inputs {
  overflow: hidden;
  margin: auto;
  min-height: 100px;
}

.indication {
  display: block;
  margin: auto;
  font-weight: bold;
  font-size: 1.1rem;
  width: 200px;
  margin-top: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 100;
  text-align: center;
  border-color: initial;
}

@keyframes ani-inputs-right {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes ani-inputs-left {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 600px) {
  section,
  header {
    width: 80vw;
    margin: auto;
  }
  input {
    height: 20px;
  }
  /*aside{
        display: none;
    }*/
}
